<div class="card">
    <div class="card-header">
        <span class="badge badge-primary mr-3">{{githubProfil.followers}} Followers</span>
        <span class="badge badge-success mr-3">{{githubProfile.public_repos}} Repos</span>
        <span class="badge badge-warning mr-3">{{githubProfiles.public_gists}} Gists</span>
        <span class="badge badge-danger mr-3"> {{githubProfile.following}} Following</span>

    </div> 

    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                USER NAME  : {{githubProfile.name}}
            </li>
            <li class="list-group-item">
                EMAIL : {{githubProfile.email}}
            </li>
            <li class="list-group-item">
                COMPANY : <a [href]="githubProfile.company" target="_blank">{{githubProfile.company}}</a>
            </li>
            <li class="list-group-item">
                LOCATION : {{githubProfile.location}}
            </li>
            <li class="list-group-item">
                PROFILE : <a [href]="githubProfile.profile_url" target="_blank">{{githubProfile.profile_url}}</a>
            </li>
            <li class="list-group-item">
                CREATED  ON : {{githubProfile.created_at | Date}}
            </li>

        </ul>

    </div>
</div>
